<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4">
  <div *ngFor="let box of boxes" class="bg-white rounded-xl shadow p-4">
    <img [src]="box?.image" class="w-full h-48 object-cover rounded-lg mb-2" />
    <h2 class="text-xl font-bold">{{ box.title }}</h2>
    <p class="text-sm text-gray-600">{{ box.hobby }}</p>
    <p class="mt-2">{{ box.description }}</p>
    <p class="font-semibold mt-2 text-green-600">R${{ box.price }}</p>
    <button mat-button color="primary" [routerLink]="['/detail', box._id]">View</button>
  </div>
</div>
